* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
:root {
    font-size: 62.5%;
    --laranja: #d7460c;
    --branco: #fafafa;
    --vermelho-escuro: #630506;
    --cinza-escuro: #232323;
}
body {
    font-size: 1.6rem;
    height: 100vh;
}
header {
    background-color: var(--laranja);
    color: var(--branco);
    display: flex;
    align-items: center;
    padding: 0 3rem;
    gap: 6rem;
    height: 6rem;
     
}
header ul {
    display: flex;
    gap: 6rem;
    list-style: none;
    margin-left: auto;  
}
header li {
    list-style: none;
}
nav {
    display: flex;
    align-items: center;
    gap: 9rem;
    justify-content: space-between;
    width: 100%;
}
nav a {
    font-size: 2rem;
    line-height: 2.2rem;
    color: var(--branco);
    text-decoration: none;
    padding: 1rem;
}
nav a .espanha {
    justify-content: flex-start;
    display: block;
}
header ul li:not(.botaoCadastro) a {
    margin-right: 1rem;
}
.botaoCadastro a {
    padding: 0.5rem 1.5rem;
    background-color: var(--branco);
    color: var(--laranja);
    border-radius: 2rem;
    font-weight: bold;
    text-decoration: none;
}
    header div:hover,
    header li:hover {
    transform: scale(1);
    font-weight: 700;
    transition: .5s;
}
.botaoCadastro a:hover {
    background-color: transparent;
    transition: .5s;
    color: var(--branco);
    border: var(--branco) solid 2px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --laranja: #d7460c;
    --branco: #fafafa;
    --vermelho-escuro: #630506;
    --cinza-escuro: #232323;
}
h2{
    font-family: "Montserrat", serif;
    color: var(--cinza-escuro);
    font-size: 3rem;
}
p{
    font-family:"Lora", serif;
    font-size: 2rem;
}
h1{
    font-family: "Montserrat", serif;
    color: var(--vermelho-escuro);
    font-size: 4rem;
}
h3{
    font-family: 'Times New Roman', Times, serif;
}
.inquisicao{
    gap: 3rem;
    display: flex;
    align-items: flex-start;
    margin-inline: 5rem;
}
.inquisicao h1, h2, p{
    margin-bottom: 2rem;
    margin-inline: 5rem;
}
.inquisicao h1{
    margin-top: 7rem;
}
.imagem1{
    width: 70rem;
    height: 55rem;
    margin-top: 7rem ;
 
}
.conteudo{
    display: flex;
    flex-direction: column;
}
.brasileira{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin-inline: 5rem;
    margin-top: 7rem;
}
.brasileira h2, p{
    margin-bottom: 3rem;
}
.brasileira img{
    width: 160rem;
    height: 60rem;
}
.ultimo{
    display: flex;
    margin-top: 7rem;
    background-color:#f1d4cf;
}
.cards {
    margin-left: 8rem;
}
.cards > div {
   display: flex;
   height: 50rem;
}
.card-1 {
    background-color: var(--vermelho-escuro);
    margin-right: 3rem;
}
.card-2 {
    background-color: var(--laranja);
}
.card-1, .card-2 {
    width: 30rem;
    text-align: center;
}
.card-1 h3, .card-2 h3 {
    font-size: 2rem;
    color: #fff;
    font-weight: 200;
    padding-top: 1rem;
}
.card-1 img, .card-2 img {
    width: 30rem;
    border-radius: 0rem;
    
}
.card-1 p, .card-2 p {
    font-size: 2rem;
    margin: 10px 0;
    color: #fff;
    padding-bottom: 2rem;
    padding-top: 1.5rem;
}
.card-1 a, .card-2 a {
    background-color: #fff;
    color: #cb5c4c;
    border: none;
    padding: 1rem 4rem;
    border-radius: 25rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: 'Lora';
    margin-bottom: 2rem; 
    text-decoration: none;
}
.card-1 a:hover, .card-2 a:hover {
    background-color: transparent;
    transition: .5s;
    color: var(--branco);
    border: var(--branco) solid 2px;
}
.imagem3{
    margin-left: 5rem;
    margin-top: 5rem;
    height: 70rem;
    border-radius: 0 15rem 0 0;
    width: 50rem;
}
.ultimo h2{
    padding-bottom: 2rem;
     margin-top: 5rem;
     font-size: 4rem;
     color: var(--vermelho-escuro);
     margin-bottom: 70px;
}